<h2>Price Calculator</h2>

<div class="bs-example" data-example-id="list-group-custom-content">
  <div class="list-group">

    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Quantity</td>
        </tr>
      </thead>
      <tbody>
        {{#each model as |i|}}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.price}}</td>
          {{input type="number" value=i.quantity}}
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>

  <footer class="col-md-12 text-right">
    {{total-label text="Total:" value=total}}
    <button {{action "calculatePrice"}} type="button" class="btn btn-primary">Calculate</button>
  </footer>

</div>
